.Catalogue{
    padding      : 20px 30px;
}

.Catalogue-header{
    padding      : 10px 0;
    border-bottom: 1px solid var(--main-greenblue-color);
    margin-bottom: 20px;
}

.Catalogue-header-item{
    /*margin: 0px 5px;*/
}

.Catalogue-container{
    padding: 10px 0;
}

.card-container {
    display      : flex;
    align-items  : center;
    margin-bottom: 20px;
}

#new-map-button{
    background-color: var(--main-grey2-color);
    border-radius   : 8%;
    border          : solid 1px lightgray;

    position: relative;
    width   : 20rem;
    height  : 14rem;
}
#new-map-button:hover{
    cursor : pointer;
    background-color: var(--main-grey-color);
}

#new-map-button-x{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    color: var(--main-green-color);
}
#new-map-button:hover #new-map-button-x{
    color: var(--main-greenblue-color);
}


