.Legend{
    background   : white;
    padding      : 2px 10px;
    width        : 100%;
    border-top   : 1px solid var(--main-grey-color);
}

.legend-title{
    font-weight: bold;
}

#legend-structure{
    height     : 100%;
    overflow   : hidden;
    overflow-y : auto;
}
#legend-structure-content{
    padding: 2px 5px;
}

.legend-colors{

}

.legend-color{

}
