.IdentityCard {
    width           : 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding-top     : 2px;
    background-color: white;
    margin-right    : 8px;

    border-radius   : 5px;
    box-shadow      : 2px 2px 5px darkgrey;
}

#card-title{
    color     : var(--main-green-color);
    font-size : 22px;
}

#card-close-button-container{
    padding : 6px;
}
#card-close-button-container:hover{
    cursor          : pointer;
    background-color: var(--main-grey2-color);
}

#identity-card-title-container{
    padding: 0 10px;
    border-bottom: 1px solid var(--main-grey2-color);
}

#identity-card-table-container-empty{
    padding: 20px 0;
}
#identity-card-table-container{
    flex: 1;
    overflow-x : hidden;
    overflow-y : scroll;
}

#identity-card-table-container table{
    margin-bottom: 0;
}
#identity-card-table-container::-webkit-scrollbar {
    width: 5px; /* width of the entire scrollbar */
}
#identity-card-table-container::-webkit-scrollbar-track {
    background: var(--main-grey2-color); /* color of the tracking area */
}
#identity-card-table-container::-webkit-scrollbar-thumb {
    background-color: var(--main-green-color); /* color of the scroll thumb */
    border-radius: 0.25rem; /* roundness of the scroll thumb */
}