:root {
  --main-bg-color: #F6F6F6;
  --main-green-color: #00915A;
  --main-greenblue-color: #4A9285;

  --main-grey-color: #F6F6F6;
  --main-grey2-color: #E7E7E7;
  /* For white and black, use 'white' and 'black' directly */
}

.App-header {
  /*font-size: calc(10px + 3vmin);*/
  font-size: 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main-bg-color);
  border-bottom: 3px solid var(--main-grey2-color);
  color: var(--main-greenblue-color);
  height: 12vh;
}

.App-nav{
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

@media (min-width: 0) {
  .App-nav {
    max-width: none;
  }
}

.circle-singleline{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 28px;
  line-height: 50px;
  text-align: center;
  border: 1px solid var(--main-greenblue-color);
  color: var(--main-greenblue-color);
}


.custom-button{
  padding         : 4px 12px!important;
  color           : var(--main-green-color) !important;
  background-color: transparent !important;
}
.custom-button:hover{
  background-color: var(--main-green-color)!important;
  border-color    : var(--main-green-color)!important;
  color           : white !important;
}

.custom-searchbar{
  background-color: var(--main-bg-color)!important;
  border-radius   : 20px!important;
  color           : var(--main-green-color)!important;
}

.custom-select{
  background-color: var(--main-bg-color)!important;
  border-radius   : 20px!important;
}

a {
  color          : var(--main-green-color)!important;
  text-decoration: none!important;
}

#logout_button:hover {
  cursor: pointer;
}