.LoadingScreen{
    position: fixed;
    top   : 0;
    left  : 0;
    bottom: 0;
    right : 0;

    background-color: rgba(230, 230, 230, 0.4);
    z-index: 2;

    display: flex;
    justify-content: center;
    align-items: center;
}