.CanvasContainer{
    position: relative;
    width   : 100%;
    height  : 88vh;
    overflow: hidden;
    border-top   : 1px solid var(--main-grey2-color);
    border-bottom: 1px solid var(--main-grey2-color);
}

.sigma-adapter{
    width : 100%;
    height: 100%;
}

.panels-left {
    position       : absolute;
    display        : flex;
    flex-direction : column;
    top            : 0;
    bottom         : 0;
    left           : 0;

    width          : 300px;
    /*max-height     : calc(100vh - 2 * var(--stage-padding));*/
    overflow     : hidden;
    padding        : 10px 6px;
}

.panels-right {
    position       : absolute;
    display        : flex;
    flex-direction : column;
    top            : 0;
    right          : 0;
    bottom         : 0;
    width          : 300px;
    overflow     : hidden;
    padding        : 10px 5px;
}

.panels-bottom {
    position       : absolute;
    bottom         : 0;
    height         : 20%;
    width          : 100%;
    padding        : 0 8px;
    background-color: white;
}

.panel {
    background   : white;
    border-radius: 5px;
    box-shadow   : 2px 2px 5px darkgrey;
    margin-bottom: 10px;
}

.panel-title{
    font-size  : 22px;
    font-weight: bold;
}