.Droit{

}

.Droits-container{
    padding: 5px 0;
}

.select-menu{
    background-color: white;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 34px;
    border-right: 1px solid #4A9285;
    border-top: 1px solid #4A9285;
    border-bottom: 1px solid #4A9285;
    border-left: 1px;
    font-size: 20px;
}

.edit-perm{
    background-color: white;
    border-radius: 20px;
    border: 1px solid #4A9285;
    height: 2rem;
    /*width: 5rem;*/
    padding: 5px;
}

.close{
    background: white;
    color: red;
    border: 0;
    font-size: 20px;
}
.modal-subtitle{
    margin-top: 30px;
}
.modal-head{
    padding      : 10px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    text-align: center;
}
.modal-head > div {
    margin: 0 auto;
    padding: 10px;
}

.add-users{
    width: 100%;
}
.add-icon-container{
    margin-left: 10px;
}
.add-icon-container:hover{
    cursor          : pointer;
}
#add-icon{
    color           : var(--main-green-color);
}
.add-icon-container:hover #add-icon{
    color           : var(--main-greenblue-color);
}

.modal-body {
    background-color: whitesmoke;
    color: white;
    height: 100%;
    width: 100%;
    padding: 1em;
}
.modal-dialog{
    max-width: 60vw!important;
}
.modal-content{
    width: 100% !important;
    margin: auto!important;
}

.list_box_container {
    border-radius: 0.5rem;
    border: solid var(--main-green-color);
    border-width: 1px;
    background-color: white;
    text-align: center!important;
    margin: 0 auto;
    padding: 2px 5px;
}
.searchbar{
    background-color     : white;
    border-radius        : 20px;
    padding-inline-start : 20px;
    border   : 1px solid #4A9285;
    font-size: 20px;
    width    :100%;
}

.modal-item{
    color: black;
}
.searchbar-user{
    background-color: white;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-inline-start : 25px;
    border: 1px solid #4A9285;
    font-size: 20px;
}
.select-perm{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding : 4px 4px;
    background-color: white;
    border-top : 1px solid #4A9285;
    border-right : 1px solid #4A9285;
    border-left: 0.5px solid lightgrey;
    border-bottom: 1px solid #4A9285;
    font-size: 19px;
}

.users:hover {
    cursor: pointer;
}

.users{
    font-size: 17px;
    color: black;
}

.list_box {
    width     : 100%;
    height    : 100%;
    overflow-y: auto;
    padding   : 10px 20px;
}

.list_box::-webkit-scrollbar {
    width: 0.5rem; /* width of the entire scrollbar */
}

.list_box::-webkit-scrollbar-track {
    background: var(--main-grey2-color); /* color of the tracking area */
}

.list_box::-webkit-scrollbar-thumb {
    background-color: var(--main-green-color); /* color of the scroll thumb */
    border-radius: 0.25rem; /* roundness of the scroll thumb */
}

h3{
    color: #00915A;
    margin-top: 30px;
}

h4{
    color:black;
}

.button-validate{
    border-radius   : 20px !important;
    padding         : 8px 12px;
    background-color: #4A9285 !important;
    margin          : 0 auto!important;
    text-align      :center !important;
    border          : 1px solid #4A9285 !important;
    /*width           : 10% ;*/
    height          : 50px;
}
.button-validate:hover{
    color           : var(--main-green-color)!important;
    background-color: white!important;
}

#loading-text, #no-users-text{
    font-style: italic;
    color     : darkgray;
}

#droits-title{
    color: var(--main-green-color);
    font-size: 24px;
}

.droits-section-searchbar{
    margin-top    : 20px;
    margin-bottom : 10px;
}

.droits-section{
    margin-bottom: 10px;
}
.droits-section-title-container{
    margin-bottom: 10px;
}
.droits-section-title{
    font-size: 24px;
    color: black;
}