.MiniatureMap{
    border  : solid 1px lightgray;
    width   : 20rem;
    border-radius: 8%;
    overflow: hidden;
}

.custom-card{
    position: relative;
    width   : 100%;
    height  : 14rem;
}
.custom-card-title{
    background-color : var(--main-grey2-color);
    color            : var(--main-green-color);
    position         : absolute;
    text-align       : center;
    width            : 100%;
    padding          : 4px 0;
    font-weight      : bold;
    font-size        : 20px;

    opacity          : 0.9;
    left             : 0;
    bottom           : 0;
}

.custom-card-overlay{
    position    : absolute;
    top     : 0;
    left    : 0;
    width   : 100%;
    height  : 100%;
    z-index : 2;
    background-color: var(--main-grey-color);
    color   : var(--main-green-color);

    text-align       : center;

    opacity :0;
}
.custom-card:hover .custom-card-overlay{
    transition: all 0.4s ease-out;
    opacity   : 1;
}
.custom-card-overlay-container{
    padding: 10% 20px;
}
.custom-card-overlay-row{
    padding: 1% 0;
    cursor : pointer;
    margin : 5px 0;
}
.custom-card-overlay-row:hover{
    background-color: var(--main-grey2-color);
}
.custom-card-overlay-row-label{
    text-align : right;
}
.custom-card-background-img{
    margin-bottom: 2rem;
    overflow: hidden;
}