.configuration_list_box::-webkit-scrollbar {
    width: 0.5rem; /* width of the entire scrollbar */
}

.configuration_list_box::-webkit-scrollbar-track {
    background: var(--main-grey2-color); /* color of the tracking area */
}

.configuration_list_box::-webkit-scrollbar-thumb {
    background-color: var(--main-green-color); /* color of the scroll thumb */
    border-radius: 0.25rem; /* roundness of the scroll thumb */
}

#district_section {
    width: 100%;
}

.configuration_list_box_container {
    position: relative;
    overflow: hidden;
    border-radius: 0.5rem;
    border: solid var(--main-green-color);
    border-width: 1px;
    background-color: white;
    min-height: 10rem;
    max-height: 10rem;
}

.configuration_list_box {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

#districts {
    flex: 1;
}

#district_values {
    flex: 1;
}

#building_values {
    width: 50%;
}

.separator {
    border-radius: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 3px;
    width: 70%;
    background-color: var(--main-greenblue-color);
}

.thin-separator {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    height: 0.5px;
    width: 100%;
    background-color: var(--main-greenblue-color);
}

.option:hover {
    cursor: pointer;
}

.color_tag {
    width: 2rem;
    height: 1rem;
    border-radius: 1rem;
}

#popover {
    display: none;
    position: absolute;
    z-index: 2;
}
#cover {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}