.link_list_box::-webkit-scrollbar {
    width: 0.5rem; /* width of the entire scrollbar */
}

.link_list_box::-webkit-scrollbar-track {
    background: var(--main-grey2-color); /* color of the tracking area */
}

.link_list_box::-webkit-scrollbar-thumb {
    background-color: var(--main-green-color); /* color of the scroll thumb */
    border-radius: 0.25rem; /* roundness of the scroll thumb */
}

.vertical_separator {
    border-radius: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    width: 1px;
    background-color: var(--main-greenblue-color);
}

.link_form {
    flex: 2;
}

.link_list {
    flex: 1;
}

.link_list_box_container {
    position: relative;
    overflow: hidden;
    border-radius: 0.5rem;
    border: solid var(--main-green-color);
    border-width: 1px;
    background-color: white;
    min-height: 20rem;
    max-height: 20rem;
}

.link_list_box {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.link_color_tag {
    flex: 1;
    border-radius: 1rem;
    /*border-bottom-left-radius: 1rem;*/
    /*border-top-left-radius: 1rem;*/
}

.link_thickness_selector {
    flex: 1;
}

.link_color_tag:hover {
    cursor: pointer;
}

.link_settings {
    height: 2.5rem;
}

.link_line_select {
    flex: 1;
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important;
    border-bottom-right-radius: 1rem !important;
    border-top-right-radius: 1rem !important;
}

.link_line_select fieldset {
    top: 0 !important;
    border-left: 0 !important;
}

.link_line_select fieldset legend {
    display: none;
}

.link_line_select > div {
    position: absolute;
    display: flex;
    align-items: center;
    top: 0;
    bottom: 0;
    min-height: 0 !important;
    padding: 0 !important;
}

.link_line_select > div > div {
    margin-left: 1rem;
    margin-right: 2rem;
}

.link_straight_line {
    background-color: var(--main-green-color);
    height: 2px;
    width: 100%;
}

.link_dashed_line {
    border: 2px dashed var(--main-green-color);
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    width: 100%;
}