#filter-list {
    flex: 1;
    overflow-y: scroll;
}

#filter-list::-webkit-scrollbar {
    width: 0.5rem; /* width of the entire scrollbar */
}

#filter-list::-webkit-scrollbar-track {
    background: var(--main-grey2-color); /* color of the tracking area */
}

#filter-list::-webkit-scrollbar-thumb {
    background-color: var(--main-green-color); /* color of the scroll thumb */
    border-radius: 0.25rem; /* roundness of the scroll thumb */
}

.panel-title {
    display: block;
    background-color: var(--main-grey-color);
    color: var(--main-green-color);
    padding-left: 1rem;
    width: 100%;
    font-weight: normal;
    border-bottom: 1px solid var(--main-grey2-color);
}

.FilterPanel {
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}

.filter-name {
    flex: 1;
    overflow: hidden;
}