.Mui-active, .Mui-completed {
    color: var(--main-green-color) !important;
}
.MuiStepConnector-lineVertical, .MuiStepContent-root {
    border-color: var(--main-green-color) !important;
}

.input-group-text {
    background-color: var(--main-green-color) !important;
    color: white !important;
}

.map_form_button {
    color: var(--main-green-color) !important;
}

.modal_content {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.modal_body_container {
    background-color: var(--main-grey-color);
    height: 80%;
    width: 70%;
    overflow: hidden;
    border-radius: 0.5rem;
}

.modal_body {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    padding: 1em;
}

.modal_body::-webkit-scrollbar {
    width: 0.5rem; /* width of the entire scrollbar */
}

.modal_body::-webkit-scrollbar-track {
    background: var(--main-grey2-color); /* color of the tracking area */
}

.modal_body::-webkit-scrollbar-thumb {
    background-color: var(--main-green-color); /* color of the scroll thumb */
    border-radius: 0.25rem; /* roundness of the scroll thumb */
}